# Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Virtual Environment
venv/
.env/

# Logs
*.log

# Reports
reports/

# Screenshots
screen_shots/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db