# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# Virtual Environment
venv/
.env

# Logs
*.log
reports/

# Screenshots
screen_shots/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db