# Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/

# Virtual Environment
venv/
.env

# Logs & Reports 
*.log
reports/
videos/
trace.zip
*.zip

# Screenshots
screen_shots/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db